@use './util' as u;

@font-face {
  font-family: 'Young Serif';
  src: url('../../assets/fonts/young-serif/YoungSerif-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Outfit';
  src: url('../../assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
    format('truetype');
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --peach: hsl(29, 53%, 90%);

  --ff-young-serif: 'Young Serif', serif;
  --ff-outfit: 'Outfit', sans-serif;
}

.heading {
  margin-bottom: u.rem(16);
  font-family: var(--ff-young-serif);
  font-size: u.rem(28);
  color: var(--brown);
}

.paragraph {
  font-family: var(--ff-outfit);
  color: var(--stone-600);
}

.card {
  &__body {
    padding-block: 40px 30px;
    padding-inline: 32px;
  }

  &__section {
    &:not(:last-child) {
      padding-bottom: 30px;
      margin-bottom: 26px;
      border-bottom: 1px solid var(--stone-150);
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding-block: 124px;
    background: var(--peach);
  }

  .card {
    width: 736px;
    margin-inline: auto;
    padding: 40px 40px 30px 40px;
    background: var(--white);
    border-radius: 25px;

    &__image {
      margin-bottom: u.rem(40);
      border-radius: 10px;
    }

    &__body {
      padding: 0;
    }
  }
}
